

<table class="span8 offset2">
  <tr>
    <th>Menu Item</th>
    <th>Description</th>
    <th>Price (per person)</th>
  </tr>

  <tr>
    <td class="item_name">Croissants</td>
    <td class="description">Fresh baked and filled with homemade chicken salad. Served with two large strawberries dipped in chocolate. </td>
    <td class="price">8.50</td>
  </tr>

  <tr>
    <td class="item_name">Chicken Cordon Bleu</td>
    <td class="description">5 oz. stuffed chicken breast with swiss cheese and smothered with Béchamel sauce. Served with creamy mashed potatoes, veggies, roll, butter, salad and dressing.</td>
    <td class="price">11.50</td>
  </tr>

  <tr>
    <td class="item_name">Milanesa</td>
    <td class="description">Chicken breast, marinated in wonderful herbs, breaded, baked and served with mashed garlic potatoes, lemon wedges and steamed veggies. Served with salad greens, dressing and dinner roll. </td>
    <td class="price">11.50</td>
  </tr>  

  <tr>
    <td class="item_name">Chicken Cacciatore</td>
    <td class="description">Chicken breast cooked in a deliciously seasoned marinara sauce. Served with mashed creamy potatoes, green beans almondine, roll/butter</td>
    <td class="price">11.50</td>
  </tr>

  <tr>
    <td class="item_name">Kebobs</td>
    <td class="description">Two marinated chicken kabobs, Spanish style. Served over special house saffron rice pilaf, green salad, dressing, dinner roll and fresh fruit in season.</td>
    <td class="price">10.50</td>
  </tr>

  <tr>
    <td class="item_name">Slicer’s (2)</td>
    <td class="description">Barbecue pork or chicken served with delicious coleslaw. Includes: fresh fruit in season and large chocolate cookie. </td>
    <td class="price">9.50</td>
  </tr>  

  <tr>
    <td class="item_name">Fajitas</td>
    <td class="description">Chicken breast stirred fried with green and red peppers, onions and mild or hot spices. Served in a flour tortilla and topped with shredded cabbage or lettuce, shredded cheese and sour cream (fresh guacamole, optional), chips and salsa. </td>
    <td class="price">10.00</td>
  </tr>    

  <tr>
    <td class="item_name">Fajitas Salad</td>
    <td class="description">Tender chicken breasts diced and stirred fried with green and red bell peppers, onions and mild or hot spices. Served over blue corn chips, mixed lettuce and topped with sour cream, (fresh guacamole optional) and homemade salsa. </td>
    <td class="price">10.00</td>
  </tr>

  <tr>
    <td class="item_name">Soup and Salad Bar</td>
    <td class="description">Your soup choice: cheddar broccoli, chicken tortilla, or veggie with chicken. Garden green salad/Italian dressing and served with bread sticks or dinner rolls/butter.</td>
    <td class="price">11.50</td>
  </tr>

  <tr>
    <td class="item_name">Deli Buffet</td>
    <td class="description">An assortment of deli meats and cheeses with condiments, served with a house green salad/dressing, seasonal fruit tray and your choice of Mediterranean pasta or potato Russian salad.</td>
    <td class="price">11.50</td>
  </tr>  

  <tr>
    <td class="item_name">Taco Bar</td>
    <td class="description">Two hard or soft shell tacos with all the trimmings. Served with chips, salsa, guacamole and seasonal fruit tray.</td>
    <td class="price">10.50</td>
  </tr>

  <tr>
    <td class="item_name">Crepe Bar</td>
    <td class="description">Two fresh crepes served with assorted fruit, fresh cream and hot fudge.</td>
    <td class="price">6.50</td>
  </tr>

  <tr>
    <td class="item_name">Cheesecake</td>
    <td class="description">Homemade cheesecake served with fresh strawberries, blueberries or raspberries in season. Chocolate and fudge toppings.</td>
    <td class="price">5.50</td>
  </tr>  

  <tr>
    <td class="item_name">??</td>
    <td class="description">Selection of: Tarts, pastries, Éclairs, crème puffs, Argentine alfajores with Dulce de Leche, peaches, Dulce de Leche and Chantilly cream.</td>
    <td class="price">??</td>
  </tr>    
