.onepcssgrid-1000{
}


body{
  background-image:url('stripe.svg');
  font-size: 16px;
}

header{
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;

  h1{
    display: inline-block;
    font-family: 'raleway', sans;
    font-size: 5em;
  }

}

nav{
  margin-bottom: 5%;

  a{
    font-family: raleway, sans;
    text-decoration: none;
    color: white;
  }
  li{
    font-size: 1em;
    display: inline;
    text-align: center;
    background-color: #33332D;
    height: 2em;
    padding-top: 0.2em;
  }
}

#carousel{
}